<style>
    @page {
        size: letter;
        margin: 2cm;
    }
    table.boleta 
    { 
        border: 3px solid red;
        border-radius: 30px; 
        border-spacing: 0;
        font-size: 5px;
        
    }
    table.boleta td, 
    table.boleta th 
    { 
        border: 1px solid red;
        padding: 3px; 
    }
    table.boleta_encabezado
    {
        border: 3px solid red;
        border-radius: 30px; 
        border-spacing: 0;
        font-size: 5px; 
            
    }
    table.boleta_encabezado td, 
    table.boleta_encabezado th 
    { 
        border: 1px solid red;
        padding: 2px; 
    }    
</style>
<div style="text-align:center; width:160%">
    <table >
        <tr>
            <td ><strong>CAMPESINOS PRODUCTORES CAMPECHANOS</strong><BR>
                <strong>SPR DE RL DE CV</strong>
                <p style="font-size:4px">R.F.C.   CPC1208313NA<br>
                    PLANTA UBICADA EN PRIV. DE 31 N° 123  COL. FERROCARRILERA<br>
                    ESCARCEGA, CAMPECHE, C.P.>>. 24350<br>
                    TEL. 01 (982) 82 4 05 19     CORREO ELECTRONICO: campesinos@arroztollocan.com.mx
                    <p>
            </td>
            <td style="padding-left:185px">
                <table class="boleta_encabezado" align="right" >
                    <tr>
                        <td width="85%"><center>BOLETA DE RECEPCIÓN<BR>PRIMAVERA-VERANO 2022</center></td>
                    </tr>
                    <tr>
                        <td><H2>Nº {{ boleta }}<H2></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table> 
</div>
<br> 

<table>
    <tr>
        <td width="50%">
            
            <table class="boleta" style="width:160%"  >
                <tr >
                    <th colspan="6" width="160%" style="text-align:left">
                        
                       <p style="text-align:left">RECIBIMOS prueba de text aqui va DE:{{ boleta }}</p>
                        
                    </th>
                </tr>
                <tr>
                    <td  colspan="6" width="160%"  >POR CUENTA Y ORDEN</td>
                </tr>
                <tr>
                    <td  colspan="6" width="160%">DEDUCCIONES</td>
                </tr>
                <tr>
                    <td width="16%"></td>
                    <td width="16%">% DICTAMINADO </td>
                    <td width="16%">% TOLERANCIA</td>
                    <td width="16%">% DEDUCCION APLICABLE</td>
                    <td width="16%">% DE DEDUCCION APLICABLE</td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">HUMEDAD</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">IMPUREZAS</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">GRANO QUEBRADO</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">GRANO VERDE</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">GRANO MANCHADO</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">GRANO ESTRELLADO</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td width="16%">CUTICULA ROJA</td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                    <td width="16%"></td>
                </tr>
                <tr>
                    <td  colspan="6" width="160%"></td>
                </tr>
                <tr>
                    <td  colspan="6" width="160%">OBSERVACIONES</td>
                </tr>
                <tr>
                    <td  colspan="6" width="160"></td>
                </tr>
                <tr>
                    <td  colspan="6" width="160%">CONTRATO - VARIEDAD</td>
                </tr>
                <tr>
                    <td  colspan="6" width="160%">MUNICIPIO</td>
                </tr>
            </table>
            
        </td>
        <td width="50%"  align="left" style="vertical-align: text-top;">

            <table class="boleta" align="left" style="height:40px;vertical-align: text-top;">
                <tr>
                    <th  colspan="2" width="160%"  style="height:30px"><p style="text-align:left">DOMICILIO</p></th>
                </tr>
                <tr>
                    <td  colspan="2" width="160%" style="height:25px"></td>
                </tr>
                <tr>
                    <td  colspan="2" width="160%" style="height:30px">MARCA MODELO PLACA</td>
                </tr>
                <tr>
                    <td  colspan="2" width="160%" style="height:25px">NOMBRE DEL COMISIONADO</td>
                </tr>
                <tr>
                    <td width="50%" style="height:110px"></td>
                    <td width="50%" style="height:110px"></td>
                </tr>
                <tr>
                    <td  colspan="2" width="160%" style="height:25px">TOTAL DE DEDUCCIONES</td>
                </tr>
                <tr>
                    <td width="50%" style="height:30px">PESO</td>
                    <td width="50%"></td>
                </tr>
                <tr>
                    <td width="50%" style="height:30px">DEDUCCIONES</td>
                    <td width="50%"></td>
                </tr>
                <tr>
                    <td width="50%" style="height:30px">NETO ANALIZADO</td>
                    <td width="50%"></td>
                </tr>
            </table>  

        </td>
    </tr>
</table>
