<style type="text/css"> 
  @page {
    size: letter landscape;
    margin: 2cm;
  } 
  .demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
  }
  .demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
  }
  .demo td {
    border:1px solid #C0C0C0;
    padding:3px;
  }
  .encabezado{
    border:0;
    border-collapse:colapse;
    padding:5px;
  }
</style>
<head>
  <title>Carga de combustible</title>
</head>
<table class="encabezado">
    <tr>
      <td rowspan="2" width="10%" align="center"><img src="/files/imagenes/logo_empresa.png" width="80px" height="100px" /></td>
      <td  width="90%" align="center"><h1>CAMPESINOS PRODUCTORES CAMPECHANOS<br>SPR DE RL DE CV</h1></td>
    </tr>
    <tr>
      <td align="center"><h1></h1></td>
    </tr>  
</table>
<table class="demo">
    <thead>
        <tr>
            <th colspan="6"><h1>Listado de cargas</h1></th>
        </tr>
        <tr>
            <th style="width:5%">ID</th>
            <th style="width:20%">Fecha</th>
            <th style="width:20%">Unidad</th>
            <th style="width:20%">Horas</th>    
            <th style="width:20%">Litros</th>
            <th style="width:10%">Km/Lt</th>
        </tr>  
    </thead>
    <tbody>
    {% for item in fuels %}
    <tr>
        <td style="width:5%">{{ item.id }}</td>
        <td style="width:20%">{{ item.date }}</td>
        <td style="width:20%">{{ item.unit.unit }}</td>
        <td style="width:10%">{{ item.hours }}</td>
        <td style="width:10%">{{ item.liters }}</td>
        <td style="width:20%">{{ item.km_liters }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
